<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .wrapper
            header.header
                .header__container.container
                    nav.menu 
                        ul.menu__item 
                            li.menu__link 
                                a(href="#") Shop 
                            li.menu__link 
                                a(href="#") Collections
                            li.menu__link 
                                a(href="#") Try a Free Guide                               
                    .menu__logo
                        a(href="#")
                            img(src="/img/icon/logo.png", alt="logo")
                    .menu__social 
                        a(href="#")
                            img(src="/img/icon/inst.png", alt="inst")
                        a(href="http://google.com")
                            img(src="/img/icon/search.png", alt="search")
                        a(href="#")
                            img(src="/img/icon/lock.png", alt="lock")
            main.main
                .main__container.container
                    .main__body 
                        .main__title
                            h1 Fall deeper in love with humanity.
                        .main__subtitle Get to know the world through our concise, informative and inspiring guides.
                        a.main__button.button(href="#") Shop Now
                    .main__img 
                        img(src="/img/main.jpg", alt="")
            .guides 
                .guides__container.container 
                    .guides__title.title Our guides explain countries and cultures.
                    .guides__body 
                        .guides__subtitle Are you curious about the world around you? Our guides are for smart global citizens, world travelers and engaged residents who want to gain a deeper understanding of the cultures and societies they care about.
                        .guides__text Available as ebooks here and on Amazon.
            .sellers 
                .sellers__container.container 
                    .sellers__title.title Our best sellers
                    .sellers__body 
                        .sellers__column 
                            .sellers-img 
                                img(src="/img/sellers1.jpg", alt="#") 
                            .sellers_block
                                .sellers-text Thalby Guide to French Culture and Heritage 
                                .sellers-cost USD 6.99
                                a(href="#").sellers-link Add to cart
                        .sellers__column 
                            .sellers-img
                                img(src="/img/sellers2.jpg", alt="#") 
                            
                            .sellers_block
                                .sellers-text Thalby Guide to French People and Society
                                .sellers-cost USD 6.99
                                a(href="#").sellers-link Add to cart
                        .sellers__column 
                            .sellers-img 
                                img(src="/img/sellers3.jpg", alt="#") 
                            .sellers_block
                                .sellers-text Thalby Guide to German Culture and Heritage
                                .sellers-cost USD 6.99
                                a(href="#").sellers-link Add to cart
            .people
                .people__container.container 
                    .people__img
                        img(src="/img/people.png", alt="#")
                    .people__body
                        .people__title.title People and Society
                        .people__subtitle.subtitle Our guides to society deliver all the social insight you need, helping you understand how people live, love and play today and why communities are the way they are.
                        a(href="#").people__link.link Shop Society Guides
            .culture
                .culture__container.container 
                    .culture__body
                        .culture__title.title Culture and Heritage
                        .culture__subtitle.subtitle As well as covering heritage and tradition, our guides to culture introduce you to the designers, artists and chefs creating at the forefront of today's culture.
                        a(href="#").culture__link.link Shop Culture Guides
                    .culture__img
                        img(src="/img/culture.png", alt="#")                   
            .power
                .power__container.container 
                    .power__img
                        img(src="/img/power.png", alt="#")
                    .power__body
                        .power__title.title Power and Politics
                        .power__subtitle.subtitle Our guides to power take you behind the scenes to explore the power dynamics, policies and politics shaping a country's future and its global position.
                        a(href="#").power__link.link Coming 2022!
            .some 
                .some__container.container 
                    .some__subtitle.subtitle Some of the features that make Thalby guides unique
                    .some__body 
                        .some__block 
                            .circle_bronze
                            .circle-text Written by <br> locals
                        .some__block 
                            .circle_green
                            .circle-text Packed with <br>insight
                        .some__block 
                            .circle_blue
                            .circle-text Interviews with <br> diverse voices
                        .some__block 
                            .circle_brown
                            .circle-text Key facts and <br> etiquette tips
                        .some__block 
                            .circle_red 
                            .circle-text A concise <br> 1-hour read
                        .some__block 
                            .circle_purpure
                            .circle-text Instant <br> digital access 
            .each
            footer.footer лол
script(src='./main.js')