<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .wrapper
            header.header
                .header__container.container
                    nav.menu 
                        ul.menu__item 
                            li.menu__link 
                                a(href="#") Shop 
                            li.menu__link 
                                a(href="#") Collections
                            li.menu__link 
                                a(href="#") Try a Free Guide                               
                    .menu__logo
                        a(href="#")
                            img(src="/img/icon/logo.png", alt="logo")
                    .menu__social 
                        a(href="#")
                            img(src="/img/icon/inst.png", alt="inst")
                        a(href="http://google.com")
                            img(src="/img/icon/search.png", alt="search")
                        a(href="#")
                            img(src="/img/icon/lock.png", alt="lock")
            main.main
                .main__container.container
                    .main__body 
                        .main__title
                            h1 Fall deeper in love with humanity.
                        .main__subtitle Get to know the world through our concise, informative and inspiring guides.
                        a.main__button.button(href="#") Shop Now
                    .main__img 
                        img(src="/img/main.jpg", alt="")
            .guides 
                .guides__container.container 
                    .guides__title.title Our guides explain countries and cultures.
                    .guides__body 
                        .guides__subtitle Are you curious about the world around you? Our guides are for smart global citizens, world travelers and engaged residents who want to gain a deeper understanding of the cultures and societies they care about.
                        .guides__text Available as ebooks here and on Amazon.
            .sellers 
                .sellers__container.container 
                    .sellers__title.title Our best sellers
                    .sellers__body 
                        .sellers__column 
                            .sellers-img 
                                img(src="/img/sellers1.jpg", alt="#") 
                            .sellers_block
                                .sellers-text Thalby Guide to French Culture and Heritage 
                                .sellers-cost USD 6.99
                                a(href="#").sellers-link Add to cart
                        .sellers__column 
                            .sellers-img
                                img(src="/img/sellers2.jpg", alt="#")                       
                            .sellers_block
                                .sellers-text Thalby Guide to French People and Society
                                .sellers-cost USD 6.99
                                a(href="#").sellers-link Add to cart
                        .sellers__column 
                            .sellers-img 
                                img(src="/img/sellers3.jpg", alt="#") 
                            .sellers_block
                                .sellers-text Thalby Guide to German Culture and Heritage
                                .sellers-cost USD 6.99
                                a(href="#").sellers-link Add to cart
            .people
                .people__container.container 
                    .people__img
                        img(src="/img/people.png", alt="#")
                    .people__body
                        .people__title.title People and Society
                        .people__subtitle.subtitle Our guides to society deliver all the social insight you need, helping you understand how people live, love and play today and why communities are the way they are.
                        a(href="#").people__link.link Shop Society Guides
            .culture
                .culture__container.container 
                    .culture__body
                        .culture__title.title Culture and Heritage
                        .culture__subtitle.subtitle As well as covering heritage and tradition, our guides to culture introduce you to the designers, artists and chefs creating at the forefront of today's culture.
                        a(href="#").culture__link.link Shop Culture Guides
                    .culture__img
                        img(src="/img/culture.png", alt="#")                   
            .power
                .power__container.container 
                    .power__img
                        img(src="/img/power.png", alt="#")
                    .power__body
                        .power__title.title Power and Politics
                        .power__subtitle.subtitle Our guides to power take you behind the scenes to explore the power dynamics, policies and politics shaping a country's future and its global position.
                        a(href="#").power__link.link Coming 2022!
            .some 
                .some__container.container 
                    .some__subtitle.subtitle Some of the features that make Thalby guides unique
                    .some__body 
                        .some__block 
                            .circle_bronze
                            .circle-text Written by <br> locals
                        .some__block 
                            .circle_green
                            .circle-text Packed with <br>insight
                        .some__block 
                            .circle_blue
                            .circle-text Interviews with <br> diverse voices
                        .some__block 
                            .circle_brown
                            .circle-text Key facts and <br> etiquette tips
                        .some__block 
                            .circle_red 
                            .circle-text A concise <br> 1-hour read
                        .some__block 
                            .circle_purpure
                            .circle-text Instant <br> digital access 
            .each
                .each__container.container
                    .each__title.title Each Thalby guide includes interviews with a range of fascinating voices, such as
                    .each__body 
                        .each__column 
                            .each-img 
                                img(src="/img/each1.png", alt="#")
                            .each__block 
                                .each-title "I don’t like things to be conventional. If it’s too nice, I bring disorder."
                                .each-subtitle Camille Muller, <br> Landscape Designer, France
                                a(href="#").each-link Discover
                        .each__column 
                            .each-img 
                            img(src="/img/each2.png", alt="#")
                            .each__block 
                                .each-title "Magic is not magic in the sense that I can just wish for anything."
                                .each-subtitle Sonia Kowalewski, <br> Witch, Germany
                                a(href="#").each-link Discover
                        .each__column 
                            .each-img 
                            img(src="/img/each3.png", alt="#")
                            .each__block 
                                .each-title "I was eight years old when I entered my first competition. I won it."
                                .each-subtitle Lilly Stoephasius, <br> Skateboarder, Germany
                                a(href="#").each-link Discover
            .keep 
                .keep__container.container 
                    .keep__title.title Keep in touch
                    .keep__subtitle Get our travel advice, global views and travel freebies in your inbox
                    .keep__body
                        input.keep_input-right(type="text")(placeholder="Last Name")
                        input.keep_input-left(type="text")(placeholder="First Name")
                        input.keep_input-down(type="email")(placeholder="Email")
                    a(href='#').keep_button.button Subscribe
            footer.footer
                .footer__container.container 
                    .footer__body 
                        .footer_column 
                            a(href="#").footer_logo
                                img(src="img/icon/logofooter.png", alt="")
                            .footer_block 
                                a.footer-link(href="")
                                    img(src="img/icon/facebookfooter.png", alt="")
                                a.footer-link(href="")
                                    img(src="img/icon/instagramfooter.png", alt="") 
                                a.footer-link(href="") 
                                    img(src="img/icon/twitterfooter.png", alt="")
                        .footer_menu 
                            ul.menu_column-left
                                li.footer-list 
                                    a(href="#") about
                                li.footer-list 
                                    a(href="#") About Us
                                li.footer-list 
                                    a(href="#") Privacy Policy
                                li.footer-list 
                                    a(href="#") Terms and Conditions
                                li.footer-list 
                                    a(href="#") Write for Us
                            ul.menu_column-right
                                li.footer-list 
                                    a(href="#") Contact
                                li.footer-list 
                                    a(href="#") Email hi@thalby.com
                                li.footer-list 
                                    a(href="#") Help
                    .footer_down 
                        .footer_text Thalby LLC © 2021
script(src='./main.js')