@import "nullstyle.scss";

@mixin fontz($f, $c) {
    font-size: $f;
    color: $c;
}

%newstyle {
    color: red;
}

html,body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
	font-style: italic;
}