@import "nullstyle.scss";

/*fonts--*/
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.eot');
	src: local('☺'), url('fonts/Roboto-Regular.woff') format('woff'), url('fonts/Roboto-Regular.ttf') format('truetype'), url('fonts/Roboto-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Bold.eot');
	src: local('☺'), url('fonts/Roboto-Bold.woff') format('woff'), url('fonts/Roboto-Bold.ttf') format('truetype'), url('fonts/Roboto-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
/*-----*/
@mixin fsw($s, $w) {
    font-size: $s;
    font-weight: $w;
}
%newstyle {
    color: red;
}
/*-----------------------------*/
html,body {
	font-family: 'Roboto';
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.container {
	margin: 0 auto;
	max-width: 1094px;
}

.header {
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 15px 15px;
	}
}
.menu {
	display: flex;
	@include fsw(16px, 700);
	line-height: 26px;
	color: #1C1B1B;
		&__item {
			display: flex;
			flex-direction: row;
			li {
				margin: 0 28px 0 0;
			}
			li:last-child {
				margin: 0;
			}
		}
		&__link {
			a {
				color: #1C1B1B;
			}
			a:hover {
				color:#F0EFEB;
				background: #1C1B1B;
				padding: 5px 0px;
				border-radius: 8px;
			}
			a:active {
				color:#1C1B1B;
				background: #F0EFEB;
			}
		}
		&__logo {
			display: flex;
		}
		&__social {
			display: flex;
			flex-direction: row;
			a{
				display: flex;
				height: 40px;
				width: 40px;
				&:first-child {
					display: flex;
					justify-content: center;
					align-items: center;
					max-width: 35px;
				}
			}
		}
}
.main {
	
	display: flex;
	flex: 1 1 auto;
	&__container {
		background: #F0EFEB;
		
	}
	&__body 
	&__title
	&__subtitle
	&__img {
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}
h1 {
	@include fsw(60px,700)
}


a.main__button
.button

.footer {
}